div#div_id_username {
    margin-top: 15px;
    margin-bottom: 15px;
  }
div#div_id_password {
  margin-top: 15px;
}
div#div_id_password2 {
  margin-top: 15px;
}
div#div_id_dob {
  margin-top: 20px;
}
.asteriskField {
  display: none;
}
.sign_up_form{
  width: 450px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: auto !important;
}
.login_form{
  width: 450px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: auto !important;
}